In [ ]:
#1.Write a code to reverse a string.

In [ ]:
string = "Hello world!!!"
string

'Hello world!!!'

In [ ]:
string[::-1]

'!!!dlrow olleH'

In [ ]:
#2.Write a code to count the number of vowels in a string.
string = "Hello World, my name is Ishani"
vowels = "aeiouAEIOU"
count = []
for i in string:
  if i in vowels:
    count += i
print(f"vowels:,{count} |numbers:{len(count)} ")

vowels:,['e', 'o', 'o', 'a', 'e', 'i', 'I', 'a', 'i'] |numbers:9

In [ ]:
#3.Write a code to check if a given string is a palindrome or not.

In [ ]:
string = "madam"
if string == string[::-1]:
  print("palindrome")
else:
  print("not palindrome")

palindrome

In [ ]:
#4.Write a code to check if two given strings are anagrams of each other.

In [ ]:
str1 = "cat"
str2 = "act"
if sorted(str1) == sorted(str2):
  print("anagrams")
else:
  print("non anagrams")

anagrams

In [ ]:
#5.Write a code to find all occurrences of a given substring within another string.
string = "Hello world"
sub_string = "l"
for i in range(len(string)):
  if string[i] == sub_string:
    print(i)

2
3
9

In [ ]:
#6.Write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
string = "Hello world"
count = 1
for i in range(len(string)-1):
  if string[i] == string[i+1]:
    count += 1

  else:
    print(string[i],count)
    count = 1
print(string[i],count)

H 1
e 1
l 2
o 1
  1
w 1
o 1
r 1
l 1
l 1

In [ ]:
#7.Write a code to determine if a string has all unique characters.

In [ ]:
string = "Hello world, today is a beautiful day"
if len(string) == len(set(string)):
  print("unique")
else:
  print("not unique")

not unique

In [ ]:
string = "toy"
if len(string) == len(set(string)):
  print("unique")
else:
  print("not unique")

unique

In [ ]:
#8.Write a code to convert a given string to uppercase or lowercase.

In [ ]:
string = "Hello World"
string.upper()

'HELLO WORLD'

In [ ]:
string = "Hello World"
string.lower()

'hello world'

In [ ]:
#9.Write a code to count the number of words in a string.

In [ ]:
string = "Hello world, I am learning coding"
len(string)

33

In [ ]:
#10.Write a code to concatenate two strings without using the + operator.

In [ ]:
greet = "Hello, Good morning,"
name = "Ishani."
print(greet,name)

Hello, Good morning, Ishani.

In [ ]:
#11.Write a code to remove all occurrences of a specific element from a list.

In [ ]:
price = [10,20,30,40,50]
double_price = []
for i in price:
  double_price.append(i*2)
print(double_price)

[20, 40, 60, 80, 100]

In [ ]:
#12.Implement a code to find the second largest number in a given list of integers.

In [ ]:
numbers = [110,97,19,17,23,58,85]
numbers.sort()
numbers[-2]

97

In [ ]:
#13.Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [ ]:
arr = [1,2,3,4,4,5,10,1,10,20,-10,0,0]
num_count_dict = {}
for num in arr:
  if num not in num_count_dict:
    num_count_dict[num]=1
  else:
      num_count_dict[num] += 1
print(num_count_dict)

{1: 2, 2: 1, 3: 1, 4: 2, 5: 1, 10: 2, 20: 1, -10: 1, 0: 2}

In [ ]:
#14.Write a code to reverse a list in-place without using any built-in reverse functions.

In [ ]:
list = [1,2,3,4,5]
list[::-1]

[5, 4, 3, 2, 1]

In [ ]:
#15.Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:

grades = ['A', 'A', 'A', 'B', 'C', 'D', 'F', 'F']
unique_grades_set = set(grades)
unique_grades_list = list(unique_grades_set)
print(unique_grades_list)

['B', 'C', 'F', 'D', 'A']

In [ ]:
#16.Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [ ]:
my_list1 = [1, 2, 3, 4, 5]

In [ ]:
if my_list1 == sorted(my_list1):
  print("sorted in ascending order")
elif my_list1 == sorted(my_list1, reverse = True):
  print("sorted in descending order")
else:
  print("not sorted")

sorted in ascending order

In [ ]:
my_list2 = [5, 4, 3, 2, 1]

In [ ]:
if my_list2 == sorted(my_list2):
  print("sorted in ascending order")
elif my_list2 == sorted(my_list2, reverse = True):
  print("sorted in descending order")
else:
  print("not sorted")

sorted in descending order

In [ ]:
my_list3 = [3, 1, 4, 2, 5]

In [ ]:
if my_list3 == sorted(my_list3):
  print("sorted in ascending order")
elif my_list3 == sorted(my_list3, reverse = True):
  print("sorted in descending order")
else:
  print("not sorted")

not sorted

In [ ]:
#17.Write a code to merge two sorted lists into a single sorted list.

In [ ]:
A = [1,3,5,7,9]
B = [2,4,6,8,10]
union = sorted(A+B)
print(union)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#18.Implement a code to find the intersection of two given lists.
list1 = [1,2,3,4,5]
list2 = [2,3,5,6,7]
intersection = list(set(list1) & set(list2))
print(intersection)

[2, 3, 5]

In [ ]:
#19.Create a code to find the union of two lists without duplicates.

In [ ]:
list1 = [1,2,3,4,5]
list2 = [2,3,5,6,7]
union = list(set(list1)| set(list2))
print(union)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#20.Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [ ]:
colours = ["red","pink","orange","red","green","pink","black","white"]
print(list(set(colours)))

['white', 'red', 'green', 'pink', 'black', 'orange']

In [ ]:
#21.Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [12]:
box1 = ("apple","mango","banana")
box2 = ("mango","grapes","apple")
fruit_box = tuple(set(box1) & set(box2))
print(fruit_box)

('mango', 'apple')

In [ ]:
#22.Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

In [14]:
A = {1,3,5,7,9}
B = {3,4,6,7,10}
print(A.intersection(B))

{3, 7}

In [ ]:
#23.Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [8]:
t1 = (100,200,300)
t2 = (400,500,600)
t3 = (t1 + t2)
t3

(100, 200, 300, 400, 500, 600)

In [ ]:
#24.Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [15]:
A = {"sun","moon","starts"}
B = {"rain","clouds","sky"}
print(A.difference(B))

{'starts', 'sun', 'moon'}

In [ ]:
#25.Create a code that takes a tuple and two integers as input.The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [21]:
my_tuple = (1,2,3,4,5)
start_index = 1
end_index = 4
new_tuple = my_tuple[start_index:end_index]
print(new_tuple)

(2, 3, 4)

In [ ]:
#26.Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [22]:
A = {1,2,3,4,5}
B = {5,6,7,8,9}
print(A.union(B))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [28]:
def find_max_min(numbers):
    # Initialize min and max to the first element of the tuple
    min_val, max_val = numbers[0], numbers[0]

    # Iterate through the tuple, unpacking each value
    for num in numbers:
        if num < min_val:
            min_val = num
        if num > max_val:
            max_val = num

    # Return the result as a tuple using tuple unpacking
    return min_val, max_val

# Example usage
input_tuple = (34, 78, 12, 56, 99, 23, 67)
min_val, max_val = find_max_min(input_tuple)

print("Minimum value:", min_val)
print("Maximum value:", max_val)

Minimum value: 12
Maximum value: 99

In [ ]:
#28.Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

In [31]:
A = {1,2,3,4,5}
B = {2,3,5,6,7}
print("union:",A.union(B))
print("intersection:",A.intersection(B))
print("difference:",A.difference(B))

union: {1, 2, 3, 4, 5, 6, 7}
intersection: {2, 3, 5}
difference: {1, 4}

In [ ]:
#29.Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [32]:
def count_occurrences(my_tuple, element):

  count = 0
  for item in my_tuple:
    if item == element:
      count += 1
  return count


my_tuple = (1, 2, 3, 2, 4, 2)
element = 2
count = count_occurrences(my_tuple, element)
print(f"The element {element} appears {count} times in the tuple.")

The element 2 appears 3 times in the tuple.

In [ ]:
#30.Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [33]:
A = {"sun","moon","stars"}
B = {"sun","rain","rainbow"}
print(A.symmetric_difference(B))

{'moon', 'rain', 'rainbow', 'stars'}

In [ ]:
#31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [38]:
def word_frequencies(words):

  word_counts = {}
  for word in words:
    if word not in word_counts:
      word_counts[word] = 0
    word_counts[word] += 1
  return word_counts


my_list = ["apple", "apple", "mango", "banana", "mango", "banana", "grapes"]
frequencies = word_frequencies(my_list)
print(frequencies)

{'apple': 2, 'mango': 2, 'banana': 2, 'grapes': 1}

In [ ]:
#32.Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

In [40]:
my_dict = {"USA":"wishington","england":"london"}
my_dict

{'USA': 'wishington', 'england': 'london'}

In [41]:
my_dict1 = {"india":"new delhi","france":"paris"}
my_dict1

{'india': 'new delhi', 'france': 'paris'}

In [43]:
my_new_dict = {**my_dict , **my_dict1}
print(my_new_dict)

{'USA': 'wishington', 'england': 'london', 'india': 'new delhi', 'france': 'paris'}

In [ ]:
#33.Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

In [44]:
def get_value_from_nested_dict(nested_dict, key_list):

  current_dict = nested_dict
  for key in key_list:
    if key in current_dict:
      current_dict = current_dict[key]
    else:
      return None
  return current_dict

my_dict = {"a": {"b": {"c": 1}}}
key_list = ["a", "b", "c"]
value = get_value_from_nested_dict(my_dict, key_list)
print(value)

key_list = ["a", "b", "d"]
value = get_value_from_nested_dict(my_dict, key_list)
print(value)

1
None

In [ ]:
#34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

In [46]:
def sort_dictionary_by_values(my_dict, ascending=True):
  sorted_dict = dict(sorted(my_dict.items(), key=lambda item: item[1], reverse= not ascending))
  return sorted_dict

#for ascending order
my_dict = {'apple': 3, 'banana': 1, 'cherry': 2}
sorted_dict_asc = sort_dictionary_by_values(my_dict)
print(sorted_dict_asc)

#for descending order
sorted_dict_desc = sort_dictionary_by_values(my_dict, ascending=False)
print(sorted_dict_desc)

{'banana': 1, 'cherry': 2, 'apple': 3}
{'apple': 3, 'cherry': 2, 'banana': 1}

In [ ]:
#35. Write a code that inverts a dictionary, swapping keys and values.Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [47]:
def invert_dictionary(my_dict):
  inverted_dict = {}
  for key, value in my_dict.items():
    if value not in inverted_dict:
      inverted_dict[value] = [key]
    else:
      inverted_dict[value].append(key)
  return inverted_dict


my_dict = {'a': 1, 'b': 2, 'c': 1}
inverted_dict = invert_dictionary(my_dict)
print(inverted_dict)

{1: ['a', 'c'], 2: ['b']}